h1 {
    color: red;
    font-family: sans-serif;
    text-decoration: underline;
}

.inhalt {
    font-family: sans-serif;
}

#einleitungstext {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}

#lorem {
    line-height: 2em;
    text-align: center;
}

#lorem::first-line {
    color: blue;
}

#lorem::first-letter {
    color: red;
    font-size: larger;
}

:visited {
    color: green;
}

:hover {
    color: black;
}